@model Autolib.Models.Domain.Client
@using Microsoft.AspNetCore.Http;
@{
    ViewData["Title"] = "Edition du compte";
}

<div class="row col-12">
    <div class="col-12">
        <form asp-action="Edit" class="row">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="IdClient" />
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Login" class="control-label"></label>
                <input asp-for="Login" class="form-control" />
                <span asp-validation-for="Login" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Paswd" class="control-label"></label>
                <input asp-for="Paswd" class="form-control" value="" />
                <span asp-validation-for="Paswd" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Nom" class="control-label"></label>
                <input asp-for="Nom" class="form-control" />
                <span asp-validation-for="Nom" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="Prenom" class="control-label"></label>
                <input asp-for="Prenom" class="form-control" />
                <span asp-validation-for="Prenom" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <label asp-for="DateNaissance" class="control-label"></label>
                <input asp-for="DateNaissance" id="naissance" class="form-control"/>
                <span asp-validation-for="DateNaissance" class="text-danger"></span>
            </div>
            <div class="form-group col-md-12 col-lg-6">
                <input type="submit" value="Save" class="btn btn-validate btn-block" />
            </div>
        </form>
        @if (Context.Session.GetInt32("id") > 0)
        {
            <a href="@Url.Action("Delete", "Clients", new { id = Context.Session.GetInt32("id") })">
                <li class="list-group-item"><button id="submit" name="delete" class="btn btn-danger btn-block"> Supprimer </button></li>
            </a>
        }
    </div><div class="col-12">
    <a href="@Url.Action("Details","Clients", new { id = Context.Session.GetInt32("id")})" class="btn btn-light btn-block">Retour à l'accueil</a>
</div>
</div>



@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
<script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
<script>
    Date.prototype.addHours = function (h) {
        this.setTime(this.getTime() + (h * 60 * 60 * 1000));
        return this;
    }

    var confignaissance = {
        enableTime: false,
        altInput: true,
        defaultDate: Date.Parse("@Model.DateNaissance"),
        altFormat: "d-m-Y",
        dateFormat: "Y-m-dTH:i",
        maxDate: new Date().fp_incr(-1),

    }

    startPicker = flatpickr("#naissance", confignaissance);



</script>