<div class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
        </div>

        @using Microsoft.AspNetCore.Http;


        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">Fichier<b class="caret"></b></a>
                    <ul class="dropdown-menu">
                        <li class="dropdown-header">Application</li>
                        @if (Context.Session.GetInt32("id") == null)
                        {
                            <li><a class="dropdown-item" asp-area="Connexion" asp-controller="Connexion" asp-action="Index">Connexion</a></li>
                        }

                        @if (Context.Session.GetInt32("id") > 0)
                        {
                            <li class="dropdown-header">----------</li>
                            <li role="separator" class="divider"></li>
                            <li><a class="dropdown-item" asp-area="Connexion" asp-controller="Connexion" asp-action="Deconnexion">Quitter</a></li>
                        }

                    </ul>
                </li>
                @if (Context.Session.GetInt32("id") > 0)
                {
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Interroger<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Interroger</li>
                            <li role="separator" class="divider"></li>

                        </ul>
                    </li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">Gérer<b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li class="dropdown-header">Gestion</li>
                            <li role="separator" class="divider">

                        </ul>
                    </li>
                }
            </ul>
        </div>
    </div>
</div>